@use "../../scss/" as *;
.logo {
  font-size: 1.5rem;
  font-weight: 500;
  margin-right: 20px;
  &__header {
    display: flex;
    align-items: center;
  }
  img {
    margin-right: 20px;
    width: 50px;
    @include mobile {
      width: 30px;
      margin-right: 0;
    }
  }
}
.header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 50;
  transition: height 0.3s ease, background-color 0.3s ease;
  -webkit-transition: height 0.3s ease, background-color 0.3s ease;
  -moz-transition: height 0.3s ease, background-color 0.3s ease;
  -ms-transition: height 0.3s ease, background-color 0.3s ease;
  -o-transition: height 0.3s ease, background-color 0.3s ease;

  &__wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100%;
    padding: 0 2rem;
    @include mobile {
      justify-content: center;
    }
    &__infor {
      display: flex;
      align-items: center;
      justify-content: space-evenly;
      @include mobile{
        width: 100%;
        justify-content: space-between;
      }
    }
  }
  &__nav {
    display: flex;
    li {
      margin-left: 2rem;
      padding: 5px 0;
      position: relative;
      font-size: 1.5rem;
      font-weight: 700;
      ::after {
        position: absolute;
        content: "";
        bottom: 0;
        left: 50%;
        width: 0;
        height: 2px;
        transform: translateX(-50%);
        -webkit-transform: translateX(-50%);
        -moz-transform: translateX(-50%);
        -ms-transform: translateX(-50%);
        -o-transform: translateX(-50%);
        transition: all 0.3s ease-in-out;
        -webkit-transition: all 0.3s ease-in-out;
        -moz-transition: all 0.3s ease-in-out;
        -ms-transition: all 0.3s ease-in-out;
        -o-transition: all 0.3s ease-in-out;
        background-color: $main-color;
      }

      // &.active ::after,
      &:hover ::after {
        width: 100%;
      }
    }
    .active ::after {
      position: absolute;
      content: "";
      bottom: 0;
      left: 50%;
      width: 100%;
      height: 2px;
      transform: translateX(-50%);
      -webkit-transform: translateX(-50%);
      -moz-transform: translateX(-50%);
      -ms-transform: translateX(-50%);
      -o-transform: translateX(-50%);
      transition: all 0.3s ease-in-out;
      -webkit-transition: all 0.3s ease-in-out;
      -moz-transition: all 0.3s ease-in-out;
      -ms-transition: all 0.3s ease-in-out;
      -o-transition: all 0.3s ease-in-out;
      background-color: $main-color;
    }
    @include mobile {
      position: fixed;
      bottom: 0;
      left: 0;
      height: 5rem;
      width: 100%;
      background-color: $body-bg;
      padding: 0 2rem;
      box-shadow: $box-shadow;
      display: flex;
      justify-content: space-between;
      align-items: center;
      li {
        margin-left: 0;
      }
    }
  }
}
.box-shadow {
  box-shadow: $box-shadow-bottom;
  background-color: $black;
}
